.form-nilai {
    width: 30px;
    text-align: center;
    background: #FFF;
    color: black;
    border-style: none;
    width: 100%;
}

.head_table {
    background-color: #A6A6A6;
    color: #FFF;
    font-weight: bold;
}

.warn_user {
    background-color: #F76363;
    color: #FFF;
}

.alone_user {
    background-color: #F4FF63;
    color: #000;
}

.winner_user {
    background-color: #5473E8;
    color: #FFF;
}

.absen_user {
    text-decoration: line-through;
    background-color: #F3F3F3;
}

.test_save {
    background-color: #49ED76;
    color: #FFF;
}

.margin-handap {
    margin-bottom: 2vh;
}

.cursor-default:hover {
    cursor: default;
}